USE [master]
GO
/****** Object:  Database [VotoPV]    Script Date: 5/28/2025 6:42:50 PM ******/
CREATE DATABASE [VotoPV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VotoPV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VotoPV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VotoPV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VotoPV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VotoPV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VotoPV]
GO
/****** Object:  Table [dbo].[pv_ciudades]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_ciudades](
	[ciudadid] [int] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[provinciaid] [int] NOT NULL,
 CONSTRAINT [PK_pv_ciudades] PRIMARY KEY CLUSTERED 
(
	[ciudadid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_contact]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_contact](
	[contactInfoId] [int] NOT NULL,
	[userid] [int] NOT NULL,
	[value] [varchar](100) NOT NULL,
	[enabled] [bit] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[typeId] [int] NOT NULL,
 CONSTRAINT [PK_pv_contact] PRIMARY KEY CLUSTERED 
(
	[contactInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_contactType]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_contactType](
	[typeId] [int] NOT NULL,
	[name] [varchar](45) NULL,
 CONSTRAINT [PK_pv_contactType] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_detallesHorarios]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_detallesHorarios](
	[tipoHorarioId] [int] NOT NULL,
	[deleted] [bit] NOT NULL,
	[baseDate] [datetime] NOT NULL,
	[datePart] [int] NOT NULL,
	[lastExecution] [datetime] NOT NULL,
	[nextExecution] [datetime] NOT NULL,
	[horarioId] [int] NOT NULL,
 CONSTRAINT [PK_pv_detallesHorarios] PRIMARY KEY CLUSTERED 
(
	[tipoHorarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_direcciones]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_direcciones](
	[direccionid] [int] NOT NULL,
	[linea1] [varchar](50) NOT NULL,
	[linea2] [varchar](50) NULL,
	[ciudadid] [int] NOT NULL,
	[codigoPostal] [varchar](9) NOT NULL,
 CONSTRAINT [PK_pv_direcciones] PRIMARY KEY CLUSTERED 
(
	[direccionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_direccionesUsuarios]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_direccionesUsuarios](
	[direccionUsuarioid] [int] NOT NULL,
	[userid] [int] NULL,
	[direccionNacimientoid] [int] NULL,
	[activa] [bit] NULL,
	[direccionViviendaid] [int] NULL,
 CONSTRAINT [PK_pv_direccionesUsuarios] PRIMARY KEY CLUSTERED 
(
	[direccionUsuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_horarios]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_horarios](
	[horarioId] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[recurrentType] [varchar](20) NULL,
	[repetition] [int] NOT NULL,
	[endType] [varchar](30) NOT NULL,
	[endDate] [datetime] NULL,
 CONSTRAINT [PK_pv_horarios] PRIMARY KEY CLUSTERED 
(
	[horarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_iaTareasAnalisis]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_iaTareasAnalisis](
	[analisisId] [int] NOT NULL,
	[mediaFileId] [int] NOT NULL,
	[fechaSolicitud] [datetime] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[fechaComienzo] [datetime] NOT NULL,
	[fechaFinalizacion] [datetime] NOT NULL,
	[infoId] [int] NOT NULL,
	[tipoDocumento] [varchar](40) NOT NULL,
 CONSTRAINT [PK_pv_iaAnalisis] PRIMARY KEY CLUSTERED 
(
	[analisisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_infoIA]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_infoIA](
	[infoId] [int] NOT NULL,
	[modeloIA] [varchar](40) NOT NULL,
	[apiKey] [varchar](256) NOT NULL,
	[token] [varchar](256) NOT NULL,
	[maxTokens] [int] NOT NULL,
 CONSTRAINT [PK_pv_infoIA] PRIMARY KEY CLUSTERED 
(
	[infoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_mediaFiles]    Script Date: 5/28/2025 6:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_mediaFiles](
	[mediaFileId] [int] NOT NULL,
	[documentURL] [varchar](200) NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[deleted] [bit] NOT NULL,
	[mediaTypeId] [int] NOT NULL,
 CONSTRAINT [PK_pv_mediaFiles] PRIMARY KEY CLUSTERED 
(
	[mediaFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_mediaTypes]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_mediaTypes](
	[mediaTypeId] [int] NOT NULL,
	[name] [varchar](90) NOT NULL,
	[playerType] [varchar](100) NOT NULL,
 CONSTRAINT [PK_pv_mediaTypes] PRIMARY KEY CLUSTERED 
(
	[mediaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_organizaciones]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_organizaciones](
	[organizacionid] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[esNacional] [bit] NOT NULL,
	[logoUrl] [varchar](500) NOT NULL,
 CONSTRAINT [PK_pv_organizaciones] PRIMARY KEY CLUSTERED 
(
	[organizacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_orgUsuarios]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_orgUsuarios](
	[orgUsuarioid] [int] NOT NULL,
	[userid] [int] NOT NULL,
	[organizacionid] [int] NOT NULL,
	[esActivo] [bit] NOT NULL,
 CONSTRAINT [PK_pv_orgUsuarios] PRIMARY KEY CLUSTERED 
(
	[orgUsuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_paises]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_paises](
	[paisid] [tinyint] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[esPermitido] [bit] NOT NULL,
 CONSTRAINT [PK_pv_paises] PRIMARY KEY CLUSTERED 
(
	[paisid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_permissions]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_permissions](
	[permissionId] [int] NOT NULL,
	[descripcion] [varchar](60) NULL,
	[code] [varchar](10) NULL,
 CONSTRAINT [PK_pv_permissions] PRIMARY KEY CLUSTERED 
(
	[permissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_provincias]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_provincias](
	[provinciaid] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[paisid] [tinyint] NULL,
 CONSTRAINT [PK_pv_provincias] PRIMARY KEY CLUSTERED 
(
	[provinciaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_resultadosAnalisis]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_resultadosAnalisis](
	[resultadoId] [int] NOT NULL,
	[analisisId] [int] NOT NULL,
	[outputAnalisis] [varchar](5000) NOT NULL,
	[puntajeConfianza] [decimal](5, 2) NOT NULL,
	[aceptado] [bit] NOT NULL,
	[razonVeredicto] [varchar](2000) NOT NULL,
 CONSTRAINT [PK_pv_resultadosAnalisis] PRIMARY KEY CLUSTERED 
(
	[resultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_revisionHumana]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_revisionHumana](
	[revisionHumanaId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[fechaRevisionHumana] [datetime] NOT NULL,
	[analisisId] [int] NULL,
	[razonVeredicto] [varchar](2000) NULL,
	[argumentoAnalisis] [nchar](10) NULL,
 CONSTRAINT [PK_pv_revisionHumana] PRIMARY KEY CLUSTERED 
(
	[revisionHumanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_roles]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_roles](
	[rolId] [int] NOT NULL,
	[name] [varchar](30) NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_pv_roles] PRIMARY KEY CLUSTERED 
(
	[rolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_rolesUsuarios]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_rolesUsuarios](
	[rolUsuarioId] [int] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
	[checksum] [varchar](250) NOT NULL,
	[deleted] [bit] NOT NULL,
	[userId] [int] NOT NULL,
	[rolId] [int] NOT NULL,
 CONSTRAINT [PK_pv_rolesUsuarios] PRIMARY KEY CLUSTERED 
(
	[rolUsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_usuarios]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_usuarios](
	[userid] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[primerApellido] [varchar](50) NOT NULL,
	[segundoApellido] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[identificacion] [varchar](9) NOT NULL,
	[nacional] [bit] NOT NULL,
	[salt] [varchar](256) NOT NULL,
 CONSTRAINT [PK_pv_usuarios] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_usuariosPermisos]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_usuariosPermisos](
	[permisoUsuarioId] [int] NOT NULL,
	[enabled] [bit] NOT NULL,
	[deleted] [bit] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[checksum] [varchar](250) NOT NULL,
	[userId] [int] NOT NULL,
	[permisoId] [int] NOT NULL,
 CONSTRAINT [PK_pv_usuariosPermisos] PRIMARY KEY CLUSTERED 
(
	[permisoUsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_validaciones]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_validaciones](
	[validacionId] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFinal] [datetime] NOT NULL,
	[faseValidacion] [int] NOT NULL,
	[mediaFileId] [int] NOT NULL,
	[tipoValidacionId] [int] NOT NULL,
	[validadorId] [nchar](10) NOT NULL,
 CONSTRAINT [PK_pv_validaciones] PRIMARY KEY CLUSTERED 
(
	[validacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_validacionesTipos]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_validacionesTipos](
	[tipoValidacionId] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_pv_validacionesTipos] PRIMARY KEY CLUSTERED 
(
	[tipoValidacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pv_validadores]    Script Date: 5/28/2025 6:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pv_validadores](
	[validadoresId] [int] NOT NULL,
	[userid] [int] NOT NULL,
	[validacionId] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[aprovado] [bit] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_pv_validadores] PRIMARY KEY CLUSTERED 
(
	[validadoresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_pv_rolesUsuarios_userId]    Script Date: 5/28/2025 6:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_pv_rolesUsuarios_userId] ON [dbo].[pv_rolesUsuarios]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pv_ciudades]  WITH CHECK ADD  CONSTRAINT [FK_pv_ciudades_pv_provincias] FOREIGN KEY([provinciaid])
REFERENCES [dbo].[pv_provincias] ([provinciaid])
GO
ALTER TABLE [dbo].[pv_ciudades] CHECK CONSTRAINT [FK_pv_ciudades_pv_provincias]
GO
ALTER TABLE [dbo].[pv_contact]  WITH CHECK ADD  CONSTRAINT [FK_pv_contact_pv_contactType] FOREIGN KEY([typeId])
REFERENCES [dbo].[pv_contactType] ([typeId])
GO
ALTER TABLE [dbo].[pv_contact] CHECK CONSTRAINT [FK_pv_contact_pv_contactType]
GO
ALTER TABLE [dbo].[pv_contact]  WITH CHECK ADD  CONSTRAINT [FK_pv_contact_pv_usuarios] FOREIGN KEY([userid])
REFERENCES [dbo].[pv_usuarios] ([userid])
GO
ALTER TABLE [dbo].[pv_contact] CHECK CONSTRAINT [FK_pv_contact_pv_usuarios]
GO
ALTER TABLE [dbo].[pv_detallesHorarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_detallesHorarios_pv_horarios] FOREIGN KEY([horarioId])
REFERENCES [dbo].[pv_horarios] ([horarioId])
GO
ALTER TABLE [dbo].[pv_detallesHorarios] CHECK CONSTRAINT [FK_pv_detallesHorarios_pv_horarios]
GO
ALTER TABLE [dbo].[pv_direcciones]  WITH CHECK ADD  CONSTRAINT [FK_pv_direcciones_pv_ciudades] FOREIGN KEY([ciudadid])
REFERENCES [dbo].[pv_ciudades] ([ciudadid])
GO
ALTER TABLE [dbo].[pv_direcciones] CHECK CONSTRAINT [FK_pv_direcciones_pv_ciudades]
GO
ALTER TABLE [dbo].[pv_direccionesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_direccionesUsuarios_pv_direcciones3] FOREIGN KEY([direccionNacimientoid])
REFERENCES [dbo].[pv_direcciones] ([direccionid])
GO
ALTER TABLE [dbo].[pv_direccionesUsuarios] CHECK CONSTRAINT [FK_pv_direccionesUsuarios_pv_direcciones3]
GO
ALTER TABLE [dbo].[pv_direccionesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_direccionesUsuarios_pv_direcciones4] FOREIGN KEY([direccionViviendaid])
REFERENCES [dbo].[pv_direcciones] ([direccionid])
GO
ALTER TABLE [dbo].[pv_direccionesUsuarios] CHECK CONSTRAINT [FK_pv_direccionesUsuarios_pv_direcciones4]
GO
ALTER TABLE [dbo].[pv_direccionesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_direccionesUsuarios_pv_usuarios] FOREIGN KEY([userid])
REFERENCES [dbo].[pv_usuarios] ([userid])
GO
ALTER TABLE [dbo].[pv_direccionesUsuarios] CHECK CONSTRAINT [FK_pv_direccionesUsuarios_pv_usuarios]
GO
ALTER TABLE [dbo].[pv_iaTareasAnalisis]  WITH CHECK ADD  CONSTRAINT [FK_pv_iaTareasAnalisis_pv_infoIA] FOREIGN KEY([infoId])
REFERENCES [dbo].[pv_infoIA] ([infoId])
GO
ALTER TABLE [dbo].[pv_iaTareasAnalisis] CHECK CONSTRAINT [FK_pv_iaTareasAnalisis_pv_infoIA]
GO
ALTER TABLE [dbo].[pv_iaTareasAnalisis]  WITH CHECK ADD  CONSTRAINT [FK_pv_iaTareasAnalisis_pv_mediaFiles] FOREIGN KEY([mediaFileId])
REFERENCES [dbo].[pv_mediaFiles] ([mediaFileId])
GO
ALTER TABLE [dbo].[pv_iaTareasAnalisis] CHECK CONSTRAINT [FK_pv_iaTareasAnalisis_pv_mediaFiles]
GO
ALTER TABLE [dbo].[pv_mediaFiles]  WITH CHECK ADD  CONSTRAINT [FK_pv_mediaFiles_pv_mediaTypes] FOREIGN KEY([mediaTypeId])
REFERENCES [dbo].[pv_mediaTypes] ([mediaTypeId])
GO
ALTER TABLE [dbo].[pv_mediaFiles] CHECK CONSTRAINT [FK_pv_mediaFiles_pv_mediaTypes]
GO
ALTER TABLE [dbo].[pv_orgUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_orgUsuarios_pv_organizaciones] FOREIGN KEY([organizacionid])
REFERENCES [dbo].[pv_organizaciones] ([organizacionid])
GO
ALTER TABLE [dbo].[pv_orgUsuarios] CHECK CONSTRAINT [FK_pv_orgUsuarios_pv_organizaciones]
GO
ALTER TABLE [dbo].[pv_orgUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_orgUsuarios_pv_usuarios] FOREIGN KEY([orgUsuarioid])
REFERENCES [dbo].[pv_usuarios] ([userid])
GO
ALTER TABLE [dbo].[pv_orgUsuarios] CHECK CONSTRAINT [FK_pv_orgUsuarios_pv_usuarios]
GO
ALTER TABLE [dbo].[pv_provincias]  WITH CHECK ADD  CONSTRAINT [FK_pv_provincias_pv_paises] FOREIGN KEY([paisid])
REFERENCES [dbo].[pv_paises] ([paisid])
GO
ALTER TABLE [dbo].[pv_provincias] CHECK CONSTRAINT [FK_pv_provincias_pv_paises]
GO
ALTER TABLE [dbo].[pv_resultadosAnalisis]  WITH CHECK ADD  CONSTRAINT [FK_pv_resultadosAnalisis_pv_iaTareasAnalisis] FOREIGN KEY([analisisId])
REFERENCES [dbo].[pv_iaTareasAnalisis] ([analisisId])
GO
ALTER TABLE [dbo].[pv_resultadosAnalisis] CHECK CONSTRAINT [FK_pv_resultadosAnalisis_pv_iaTareasAnalisis]
GO
ALTER TABLE [dbo].[pv_revisionHumana]  WITH CHECK ADD  CONSTRAINT [FK_pv_revisionHumana_pv_iaTareasAnalisis] FOREIGN KEY([analisisId])
REFERENCES [dbo].[pv_iaTareasAnalisis] ([analisisId])
GO
ALTER TABLE [dbo].[pv_revisionHumana] CHECK CONSTRAINT [FK_pv_revisionHumana_pv_iaTareasAnalisis]
GO
ALTER TABLE [dbo].[pv_revisionHumana]  WITH CHECK ADD  CONSTRAINT [FK_pv_revisionHumana_pv_usuarios] FOREIGN KEY([userId])
REFERENCES [dbo].[pv_usuarios] ([userid])
GO
ALTER TABLE [dbo].[pv_revisionHumana] CHECK CONSTRAINT [FK_pv_revisionHumana_pv_usuarios]
GO
ALTER TABLE [dbo].[pv_rolesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_rolesUsuarios_pv_roles] FOREIGN KEY([rolId])
REFERENCES [dbo].[pv_roles] ([rolId])
GO
ALTER TABLE [dbo].[pv_rolesUsuarios] CHECK CONSTRAINT [FK_pv_rolesUsuarios_pv_roles]
GO
ALTER TABLE [dbo].[pv_rolesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_pv_rolesUsuarios_pv_usuarios] FOREIGN KEY([userId])
REFERENCES [dbo].[pv_usuarios] ([userid])
GO
ALTER TABLE [dbo].[pv_rolesUsuarios] CHECK CONSTRAINT [FK_pv_rolesUsuarios_pv_usuarios]
GO
ALTER TABLE [dbo].[pv_usuariosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_pv_usuariosPermisos_pv_permissions] FOREIGN KEY([permisoId])
REFERENCES [dbo].[pv_permissions] ([permissionId])
GO
ALTER TABLE [dbo].[pv_usuariosPermisos] CHECK CONSTRAINT [FK_pv_usuariosPermisos_pv_permissions]
GO
ALTER TABLE [dbo].[pv_validaciones]  WITH CHECK ADD  CONSTRAINT [FK_pv_validaciones_pv_mediaFiles] FOREIGN KEY([mediaFileId])
REFERENCES [dbo].[pv_mediaFiles] ([mediaFileId])
GO
ALTER TABLE [dbo].[pv_validaciones] CHECK CONSTRAINT [FK_pv_validaciones_pv_mediaFiles]
GO
ALTER TABLE [dbo].[pv_validaciones]  WITH CHECK ADD  CONSTRAINT [FK_pv_validaciones_pv_validacionesTipos] FOREIGN KEY([tipoValidacionId])
REFERENCES [dbo].[pv_validacionesTipos] ([tipoValidacionId])
GO
ALTER TABLE [dbo].[pv_validaciones] CHECK CONSTRAINT [FK_pv_validaciones_pv_validacionesTipos]
GO
ALTER TABLE [dbo].[pv_validadores]  WITH CHECK ADD  CONSTRAINT [FK_pv_validadores_pv_usuarios] FOREIGN KEY([validacionId])
REFERENCES [dbo].[pv_usuarios] ([userid])
GO
ALTER TABLE [dbo].[pv_validadores] CHECK CONSTRAINT [FK_pv_validadores_pv_usuarios]
GO
ALTER TABLE [dbo].[pv_validadores]  WITH CHECK ADD  CONSTRAINT [FK_pv_validadores_pv_validaciones] FOREIGN KEY([validacionId])
REFERENCES [dbo].[pv_validaciones] ([validacionId])
GO
ALTER TABLE [dbo].[pv_validadores] CHECK CONSTRAINT [FK_pv_validadores_pv_validaciones]
GO
USE [master]
GO
